@model MemoApp.Models.UserViewModel

@{
    ViewData["Title"] = "AddOrChangeRole";
}

<h1>Add Or Change Role</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <label>User</label>
        <br />
        <label>@Model.UserName</label>
        <form asp-action="AddOrChangeRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Role.Id" class="control-label">Role</label>
                <select class="custom-select" asp-for="Role.Id" asp-items="@(new SelectList(Model.AllRoles,"Id","Name"))">
                    @if (Model.Role.Name == "")
                    {
                        <option value="0">Select role for user</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Users">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
