@model MemoApp.Models.RoleViewModel

@{
    ViewData["Title"] = "RoleDetails";
}

<h1>RoleDetails</h1>

<div>
    <h4>RoleViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditRole" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Roles">Back to List</a>
</div>
